* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:8px 0;
}

h1 {
    font-size:30px;
}

h2 {
    font-size:27px;
}

h3 {
    font-size:24px;
}

h4 {
    font-size:21px;
}

h5, h6 {
    font-size:18px;
}