@each $key, $color in $colors {
    .input-#{$key} {
        border:2px solid map-get($colors, "mid");
        border-radius: 4px;

        &:focus {
            outline: 0;
            border: 2px solid $color;
        }
    }

    .btn-#{$key} {
        border:2px solid darken($color, 10%);
        background-color:$color;
        border-radius: 4px;
        color: if(lightness($color) > 50%, black, white);
        cursor:pointer;

        &:active {
            outline: 0;
            border: 2px solid $color;
            background-color:lighten($color, 10%);
        }
    }
}

.input-xs {
    padding:2px;
}

.input-sm {
    padding:map-get($spacing, "xs");
}

.input-md {
    padding:map-get($spacing, "sm");
}

.input-lg {
    padding:12px;
}