@import "./variables";
@import "./mixins";

@include map-classes("text", "color", $colors);
@include map-classes("bg", "background-color", $colors);

@for $i from 1 through 9 {
    $transparency: $i / 10;
    @include map-background-classes('bgt', $colors, $transparency);
}

@include create-spacings("m", "margin", $spacing);
@include create-spacings("mt", "margin-top", $spacing);
@include create-spacings("mb", "margin-bottom", $spacing);
@include create-spacings("ml", "margin-left", $spacing);
@include create-spacings("mr", "margin-right", $spacing);
@include create-spacings("mx", "margin-inline", $spacing);
@include create-spacings("my", "margin-block", $spacing);

@include create-spacings("p", "padding", $spacing);
@include create-spacings("pt", "padding-top", $spacing);
@include create-spacings("pb", "padding-bottom", $spacing);
@include create-spacings("pl", "padding-left", $spacing);
@include create-spacings("pr", "padding-right", $spacing);
@include create-spacings("px", "padding-inline", $spacing);
@include create-spacings("py", "padding-block", $spacing);

@include list-classes("d", "display", $displays);
@include list-classes("pos", "position", $positions);
@include list-classes("cursor", "cursor", $cursors);
@include list-classes("text", "text-align", $textAligns);
@include list-classes("text-deco", "text-decoration", $textDecorations);
@include list-classes("overflow", "overflow", $overflows);

@include map-classes("radius", "border-radius", $radiuses);
@include map-classes("shadow", "box-shadow", $shadows);
@include map-classes("z", "z-index", $z-indexes);
@include map-classes("transition", "transition-duration", $transitions);
@include map-classes("font", "font-size", $font-sizes);

@include loop-classes("maxw", max-width, 5, 1000, 5, px);
@include loop-classes("maxh", max-height, 5, 1000, 5, px);
@include loop-classes("wp", width, 5, 100, 5, '%');
@include loop-classes("hp", height, 5, 100, 5, '%');
@include loop-classes("w", width, 5, 1000, 5, px);
@include loop-classes("h", height, 5, 1000, 5, px);
@include loop-classes("lh", line-height, 5, 1000, 5, px);
@include loop-classes("minw", min-width, 5, 500, 5, px);
@include loop-classes("minh", min-height, 5, 1000, 5, px);
@include loop-classes("minwp", min-width, 5, 100, 5, "%");
@include loop-classes("maxwp", max-width, 5, 100, 5, "%");
@include loop-classes("font-weight", font-weight, 100, 1000, 100, "");

@include loop-classes("vw", width, 2, 100, 2, "vw");
@include loop-classes("vh", height, 2, 100, 2, "vh");

@include pseudo-classes("color", "color", $colors, "hover");
@include pseudo-classes("color", "color", $colors, "active");
@include pseudo-classes("color", "color", $colors, "focus");

@include pseudo-classes("bg", "background-color", $colors, "hover");
@include pseudo-classes("bg", "background-color", $colors, "active");
@include pseudo-classes("bg", "background-color", $colors, "focus");

@each $key, $color in $colors {
    .box-#{$key} {
        border: 1px solid $color;
        background-color: lighten($color, 10%);
        padding: map-get($spacing, "sm");
    }

    // Összes oldal egyszerre
    @for $i from 1 through 5 {
        .border-#{$key}-#{$i} {
            border: #{$i}px solid $color;
        }
    }

    // Külön minden oldalra
    @for $i from 1 through 5 {
        .border-top-#{$key}-#{$i} {
            border-top: #{$i}px solid $color;
        }

        .border-right-#{$key}-#{$i} {
            border-right: #{$i}px solid $color;
        }

        .border-bottom-#{$key}-#{$i} {
            border-bottom: #{$i}px solid $color;
        }

        .border-left-#{$key}-#{$i} {
            border-left: #{$i}px solid $color;
        }
    }
}

.margin-auto {
    margin: auto;
}

.border-table div, .border-table p {
    margin:0 -1px -1px 0;
}

@each $key, $value in $breakpoints {
    .container-#{$key} {
        width: 100%;
        max-width: $value;
        margin-left: auto;
        margin-right: auto;

        /* Media query: amikor a viewport szélessége eléri a breakpointot */
        @media (max-width: $value) {
            // Ha van kisebb breakpoint, akkor azt használjuk, egyébként 100%
            $next: null;

            @each $k, $v in $breakpoints {
                @if $v < $value and ($next ==null or $v > $next) {
                    $next: $v;
                }
            }

            @if $next !=null {
                max-width: $next;
            }

            @else {
                max-width: 100%;
            }
        }
    }
}